// === BLOG STYLES ===
.blog {
  background: $primary;
}
.blog header {
  background: url(../assets/blog-image.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
  min-height: 250px;
  padding: 0;
}

.blog main {
  background: $primary;
  padding: $mobile;
  position: relative;
}

.blog-post,
.comments {
  width: 90%;
}

.blog-post .copy-wrapper,
.comments {
  padding: 20px 10px 20px 15px;
}

// Blog post ----- +
.blog-post {
  background: $white;
  border-right: 10px solid $accent;
  border-bottom: 10px solid $accent;
  position: relative;
  left: 0;
  .copy-wrapper {
    padding-left: 5%;
    p {
      padding: $mobile;
    }
    margin: 0;
      .date {
      font-style: italic;
    }
    span {
      font-weight: 600;
    }
  }

  .img-wrapper {
    margin: auto;
    position: relative;
    top: -45px;
    left: 0;
    img {
      position: relative;
    }
    &::before {
      @include pseudo-accent(-10px, 10px)
    }
  }
}

// Blog Comments ----- +
.comments {
  padding-left: 5%;
  .comment {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .img-wrapper {
      width: 20%;
      padding-top: 30px;
    }
    .copy-wrapper {
      width: 75%;
    }
  }
  form {
    width: 100%;
  }
}

// Side bar ----- +
.side-bar { 
  background: $accent;
  border-left: 10px solid $accent;
  display: none;
  margin-top: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
  .img-wrapper {
    position: relative;
    top: -15px;
  }
  .copy-wrapper {
    margin: 0;
    padding: 0 20px 30px 20px;
    h3 {
      padding: 10px 0;
    }
    ul li {
      list-style-type: disc;
      margin-left: 20px;
    }
  }
}