// === CONTACT ===
.contact header {
  background: url(../../assets/contact-image.jpg) no-repeat;
  // background-position: center;
  background-size: cover;
  min-height: 40vh;
}

.contact main {
  background: $primary;
  padding: $mobile;
}

.contact form {
  padding: 0;
  position: relative;
  display: block;
  &::before {
    @include pseudo-accent(-10px, 10px);
  }
}

.form-wrapper {
  background: $white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px;
  background: $white;
  position: relative;
  
}

.social {
  padding: 50px 0 30px;
  li {
    display: inline-block;
    a i {
      background: $primary;
      color: $secondary;
      font-size: 3rem;
      padding: 10px 15px 5px 0;
      transition: color 250ms;
      &:hover {
        color: lighten($secondary, 5);
        cursor: pointer;
        transform: scale(1.01);
      }
    }
  }
  a {
    display: block;
    &:first-of-type {
      padding-bottom: 15px;
    }
  }
}