@media all and (min-width: 1024px) {
  // GLOBAL
  .mobile-menu {
    display: none;
  }
  .desktop-menu {
    display: block;
  }
  
  // HOME PAGE
  .landing {
    height: 90vh;
    min-height: 700px;
    .img-wrapper {
      display: block;
      .img-wrapper {
        width: 50%;
    }
  }

  .guide:first-of-type {
    padding: $desktop;
  }
}

@media all and (min-width: 1500px) {
  .landing {
    min-height: 900px;
    }
  }
}
