// === DESKTOP STYLES ===
@media all and (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }
  .desktop-menu {
    display: block;
  }

  form {
    input[name=comment] {
      height: 200px;
    }
  }
  
  // HOMEPAGE ----- +
  .landing {
    height: 90vh;
    min-height: 700px;
    .img-wrapper {
      display: block;
      width: 50%;
    }
  }
  
  .guide:first-of-type {
    padding: $desktop;
  }

  .site-features .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .copy-wrapper {
      width: 40%;
      position: relative;
      i {
        position: absolute;
        left: -75px;
      }
    }
  }

  .featured-articles .container article {
    width: 40%;
  }

  // BLOG ----- +
  .blog header {
    height: 50vh;
  }

  .blog .blog-post,
  .comments {
    width: 60%;
  }

  .side-bar {
    display: block;
  }

  // CONTACT ------ +
  .contact header {
    height: 75vh;
    background-position: center;
  }
  
  .contact form {
    top: -100px;
    width: 70%;
  }
  .social {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// === LARGE SCREEN STYLES ===
@media all and (min-width: 1500px) {
  header,
  main,
  footer {
    max-width: 1800px;
    margin: 0 auto;
  }
  
  .landing {
    min-height: 900px;
  }
}

