form {
  fieldset {
    border: none;
    display: flex;
    label {
      visibility: hidden;
    }
    input {
      padding: 10px 0 10px 10px;
    }
    input[name=name],
    input[name=email] {
      background: transparent;
      border: none;
      border-bottom: 2px solid $secondary;
      width: 100%;
    }
    input[id=comment] {
      border: 2px solid $secondary;
      width: 100%;
      height: 150px;
    }
  }
  button {
    background: $secondary;
    border: none;
    border-radius: none;
    color: $white;
    display: block;
    margin-top: 20px;
    padding: 10px 0 6px 0;
    width: 100%;
  }
}