// Reset default element styling
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 48%;
  scroll-behavior: smooth;
}

body {
  background: $black;
  color: $black;
}

img {
  display: inline-block;
  width: 100%;
}

ul {
  list-style: none;
}

img {
  display: inline-block;
  width: 100%;
}

.button-link {
  background: $secondary;
  display: inline-block;
  color: $white;
  border: none;
  margin: $mobile;
  padding: 10px 15px 6px 15px;
  text-transform: uppercase;
  transition: scale 300ms, background 300ms;
  &:hover {
    background: lighten($secondary, 3);
    transform: scale(1.02);
  }
}

// Layouts
.container {
  max-width: 1200px;
  margin: auto;
  width: 90%;
}

.copy-wrapper {
  margin: $mobile;
}

