// Reset default element styling
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $white;
  color: $black;
}

img {
  display: inline-block;
  width: 100%;
}

ul {
  list-style: none;
}

img {
  display: inline-block;
  width: 100%;
}

// .button-wrapper {
//   text-align: center;
// }

.button-link,
.button {
  background: $secondary;
  display: inline-block;
  color: $white;
  border: none;
  margin: 20px auto;
  padding: 10px 15px 4px 15px;
  text-align: center;
  transition: scale 250ms, background 250ms;
  &:hover {
    background: lighten($secondary, 3);
    cursor: pointer;
    transform: scale(1.02);
  }
}

// Layouts
.container {
  max-width: 100vw;
  margin: 0 auto;
  width: 90vw;
}

.copy-wrapper {
  margin: $mobile;
}

.logo {
  display: inline-block;
  padding: $mobile;
  width: 25%;
}
