.guide {
  background: $white;
  @include flex-tween;
  padding: $mobile;
  }

  .guide:first-of-type {
    .img-wrapper {
      position: relative;
      margin: auto;
      width: 60%;
      z-index: 1;
      img {
        position: relative;
      }
      &::before {
        @include pseudo-accent(-10px, 10px)
      }
    }
    .copy-wrapper {
      width: 100%;
    }
  }
  
  .guide:last-of-type {
    .img-wrapper {
      width: 120%;
      margin: auto
    }
  }
  