.landing {
  background: $white;
  background: url(../../assets/header-home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

//  MEDIA Q NEEDED LATER ---------- !!
.landing .img-wrapper {
  display: none;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  width: 50%;
}
