// === TABLET STYLES ===
@media all and (min-width: 768px) {
  html {
    font-size: 58%;
  }

  form {
    input[id=name],
    input[id=email] {
      margin-bottom: 30px;
      width: 47%;
    }
  }

  .container {
    max-width: 1100px;
  }

  .button-link,
  .button {
    margin: 30px 0;
  }

  // Padding ------ +
  .featured-images,
  .guide .container:first-of-type,
  .guide .copy-wrapper:first-of-type {
      padding: $tablet;
  }
  .site-features .container {
  padding: $tablet;
}

  // HOME PAGE ----- +
  .landing {
    height: 50vh;
    min-height: 500px;
    h1 {
      width: 45%;
    }
    .img-wrapper {
      width: 53%;
    }
  }

  // Guides -----
  .guide .container:first-of-type {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    .img-wrapper {
      width: 30%;
      margin-right: 0;
    }
    .copy-wrapper {
    width: 60%;
    }
  }

  .guide:last-of-type {
    .button-wrapper {
      text-align: center;
    }
  }

  // Features ----- +
  .featured-images {
    .img-wrapper {
      width: 32%;
    }
    .img-wrapper:last-of-type {
      display: block;
    }
  }

  .featured-articles .container {
    display: flex;
    justify-content: space-between;
    article {
      width: 45%;
      .img-wrapper {
        width: 130%;
      }
    }
    article:first-of-type {
      text-align: right;
      .img-wrapper {
        top: -50px;
        left: -50%;
      }
    }
    article:last-of-type {
      display: flex;
      flex-flow: column-reverse;
      .img-wrapper {
        bottom: -50px;
        right: -20%;
      }
    }
  }

  //BLOG ----- +
  .blog header {
    background-position: center;
    min-height: 350px;
    height: 40vh;
  }

  .blog-post,
  .comments {
    width: 90%;
  }

  .blog-post {
    top: -50px;
  }

  .blog-post .copy-wrapper,
  .comments {
    padding: 50px 20px 50px 100px;
  }

  // CONTACT ------ +
  .contact form {
    width: 90%;
    top: -65px;
  }
}