html {
  font-size: 39%;
}

h1,
h2,
h3 {
  padding: $mobile;
}

h1,
h2,
h3,
button,
input::placeholder,
.button-link,
.logo {
  text-transform: uppercase;
}

h1 {
  font-family: $heading-text;
  font-size: 6.4rem;
}

h2 
.button-link,
.logo,
button {
  font-family: $accent-text;
}


h2,
.button-link {
  font-size: 3.3rem;
}


h3,
.logo {
  font-size: 2.2rem;
}

p,
a,
input::placeholder {
  font-family: $main-text;
  color: $black;
}

p,
a,
li,
button {
  font-size: 2rem;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 2.2rem;
}