// === VARIABLES ===

// Colours ------ +
$primary: #E0FDDF;
$secondary: #065635;
$accent: #F8FB05;
$black: #151514;
$white: #f5f5f5;

// Typography ------ +
$main-text: 'Lato', arial, helvetica, sans-Serif;
$heading-text: 'Kumar One Outline', cursive;
$accent-text: 'Kumar One', cursive;

// Padding ------ +
$mobile: 20px 0;
$tablet: 50px 0;
$desktop: 75px 0;