h1 {
  font-family: $heading-text;
  font-size: 6.4rem;
}

h2, 
h3, 
.button-link,
.logo {
  font-family: $accent-text;
}

h2 {
  font-size: 3.3rem;
}

p,
a {
  font-family: $main-text;
}

p,
a,
button {
  font-size: 2rem;
}