* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1 {
  font-family: "Kumar One Outline", cursive;
  font-size: 6.4rem;
}

h2,
h3,
button,
.logo {
  font-family: "Kumar One", cursive;
}

p,
a {
  font-family: "Lato", arial, helvetica, sans-Serif;
}

p,
a,
button {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
  width: 100%;
}

button {
  border: none;
}

.img-wrapper {
  max-width: 50%;
}
