h1 {
  font-family: "Kumar One Outline", cursive;
  font-size: 6.4rem;
}

h2,
h3,
.button-link,
.logo {
  font-family: "Kumar One", cursive;
}

h2 {
  font-size: 3.3rem;
}

p,
a {
  font-family: "Lato", arial, helvetica, sans-Serif;
}

p,
a,
button {
  font-size: 2rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 48%;
}

body {
  background: #151514;
  color: #151514;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
  width: 100%;
}

ul {
  list-style: none;
}

img {
  display: inline-block;
  width: 100%;
}

.button-link {
  background: #065635;
  display: inline-block;
  color: #f5f5f5;
  border: none;
  margin: 20px 0;
  padding: 10px 15px;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 90%;
}

header li {
  float: right;
  padding: 10px 20px;
}

header li a {
  color: #151514;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
}

header li a:before {
  background: #F8FB05;
  bottom: -1px;
  content: '';
  height: 3px;
  position: absolute;
  opacity: 0;
  -webkit-transform: opacity 250ms;
          transform: opacity 250ms;
  width: 100%;
}

header li a:hover::before {
  opacity: 1;
}

footer {
  background: #151514;
  color: #f5f5f5;
  padding: 10px 0;
  text-align: center;
}

.guide {
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guide:first-of-type .img-wrapper {
  position: relative;
  margin: auto;
  width: 40%;
  z-index: 1;
}

.guide:first-of-type .img-wrapper img {
  position: relative;
}

.guide:first-of-type .img-wrapper::before {
  background: #F8FB05;
  bottom: -10px;
  content: '';
  height: 100%;
  left: 10px;
  position: absolute;
  width: 100%;
}

.guide:first-of-type .copy-wrapper {
  width: 100%;
}

.landing {
  background: url(../../assets/header-home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.landing .img-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
}

.featured-images,
.featured-articles {
  background: #E0FDDF;
  padding: 30px 0;
}

.featured-images .container,
.site-features,
.featured-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-features {
  background: #f5f5f5;
}

.featured-images .img-wrapper {
  width: 47%;
}

.featured-images .img-wrapper:last-of-type {
  display: none;
}

.featured-articles .img-wrapper {
  position: relative;
}

.featured-articles .img-wrapper img {
  position: relative;
  z-index: 1;
}

.featured-articles .img-wrapper::before {
  background: #F8FB05;
  bottom: -10px;
  content: '';
  height: 100%;
  left: 10px;
  position: absolute;
  width: 100%;
}
