html {
  font-size: 39%;
}

h1,
h2,
h3 {
  padding: 20px 0;
}

h1,
h2,
h3,
button,
input::-webkit-input-placeholder,
.button-link,
.logo {
  text-transform: uppercase;
}

h1,
h2,
h3,
button,
input:-ms-input-placeholder,
.button-link,
.logo {
  text-transform: uppercase;
}

h1,
h2,
h3,
button,
input::-ms-input-placeholder,
.button-link,
.logo {
  text-transform: uppercase;
}

h1,
h2,
h3,
button,
input::placeholder,
.button-link,
.logo {
  text-transform: uppercase;
}

h1 {
  font-family: "Kumar One Outline", cursive;
  font-size: 6.4rem;
}

h2,
.logo,
button {
  font-family: "Kumar One", cursive;
}

h2 {
  font-size: 3.3rem;
}

h3,
.logo {
  font-size: 2.2rem;
}

p,
a,
address,
input::-webkit-input-placeholder {
  font-family: "Lato", arial, helvetica, sans-Serif;
  line-height: 1.5;
}

p,
a,
address,
input:-ms-input-placeholder {
  font-family: "Lato", arial, helvetica, sans-Serif;
  line-height: 1.5;
}

p,
a,
address,
input::-ms-input-placeholder {
  font-family: "Lato", arial, helvetica, sans-Serif;
  line-height: 1.5;
}

p,
a,
address,
input::placeholder {
  font-family: "Lato", arial, helvetica, sans-Serif;
  line-height: 1.5;
}

p,
a,
li,
button,
address,
.button-link {
  font-size: 2rem;
}

a {
  color: #151514;
  text-decoration: none;
}

address {
  font-style: normal;
}

.logo {
  font-size: 2.2rem;
}

.button-link {
  font-family: "Kumar One", cursive;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f5f5;
  color: #151514;
}

img {
  display: inline-block;
  width: 100%;
}

ul {
  list-style: none;
}

img {
  display: inline-block;
  width: 100%;
}

.button-link,
.button {
  background: #065635;
  display: inline-block;
  color: #f5f5f5;
  border: none;
  margin: 20px auto;
  padding: 10px 15px 4px 15px;
  text-align: center;
  -webkit-transition: scale 250ms, background 250ms;
  transition: scale 250ms, background 250ms;
}

.button-link:hover,
.button:hover {
  background: #07643e;
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  width: 90vw;
}

.copy-wrapper {
  margin: 20px 0;
}

.logo {
  display: inline-block;
  padding: 20px 0;
  width: 25%;
}

nav {
  float: right;
  text-align: center;
}

nav a {
  color: #151514;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}

.mobile-menu {
  position: relative;
}

.mobile-menu button {
  background: transparent;
  border: none;
  font-size: 4rem;
  padding: 15px;
}

.mobile-menu button:hover {
  cursor: pointer;
}

.menu-links {
  background: #E0FDDF;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px #979791;
          box-shadow: 0 0 15px #979791;
  height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
}

.menu-links li a {
  padding: 15px 40px;
}

.menu-links li:hover, .menu-links li:focus-within {
  background: #c9fcc7;
}

.mobile-menu li:hover .menu-links,
.mobile-menu li:focus-within .menu-links {
  height: auto;
  z-index: 2;
}

.desktop-menu {
  display: none;
  padding: 20px;
}

.desktop-menu li {
  float: right;
  padding: 10px 20px;
}

.desktop-menu li a {
  position: relative;
}

.desktop-menu li a:before {
  background: #F8FB05;
  bottom: -2px;
  content: '';
  height: 5px;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  width: 100%;
}

.desktop-menu li a:hover::before {
  opacity: 1;
}

footer {
  background: #151514;
  color: #f5f5f5;
  padding: 10px 0;
  text-align: center;
}

form fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form fieldset label {
  visibility: hidden;
}

form fieldset input {
  padding: 10px 0 10px 10px;
}

form fieldset input::-webkit-input-placeholder {
  color: #151514;
}

form fieldset input:-ms-input-placeholder {
  color: #151514;
}

form fieldset input::-ms-input-placeholder {
  color: #151514;
}

form fieldset input::placeholder {
  color: #151514;
}

form fieldset input[name=name],
form fieldset input[name=email] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #065635;
  width: 100%;
}

form fieldset input[id=comment] {
  border: 2px solid #065635;
  width: 100%;
  height: 150px;
}

form button {
  background: #065635;
  border: none;
  border-radius: none;
  color: #f5f5f5;
  display: block;
  margin-top: 20px;
  padding: 10px 0 6px 0;
  width: 100%;
}

nav {
  float: right;
  text-align: center;
}

nav a {
  color: #151514;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}

.mobile-menu {
  position: relative;
}

.mobile-menu button {
  background: transparent;
  border: none;
  font-size: 4rem;
  padding: 15px;
}

.mobile-menu button:hover {
  cursor: pointer;
}

.menu-links {
  background: #E0FDDF;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px #979791;
          box-shadow: 0 0 15px #979791;
  height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
}

.menu-links li a {
  padding: 15px 40px;
}

.menu-links li:hover, .menu-links li:focus-within {
  background: #c9fcc7;
}

.mobile-menu li:hover .menu-links,
.mobile-menu li:focus-within .menu-links {
  height: auto;
  z-index: 2;
}

.desktop-menu {
  display: none;
  padding: 20px;
}

.desktop-menu li {
  float: right;
  padding: 10px 20px;
}

.desktop-menu li a {
  position: relative;
}

.desktop-menu li a:before {
  background: #F8FB05;
  bottom: -2px;
  content: '';
  height: 5px;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  width: 100%;
}

.desktop-menu li a:hover::before {
  opacity: 1;
}

footer {
  background: #151514;
  color: #f5f5f5;
  padding: 10px 0;
  text-align: center;
}

.landing {
  background: #f5f5f5;
  background: url(../../assets/header-home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  min-height: 400px;
  position: relative;
}

.landing h1 {
  padding-top: 40px;
}

.landing .img-wrapper {
  display: none;
  left: 0;
  bottom: -10%;
  position: absolute;
  width: 50%;
}

.guide {
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guide:first-of-type {
  padding: 20px 0;
}

.guide:first-of-type .img-wrapper {
  width: 60%;
  position: relative;
  margin: auto;
  z-index: 1;
}

.guide:first-of-type .img-wrapper img {
  position: relative;
}

.guide:first-of-type .img-wrapper::before {
  background: #F8FB05;
  bottom: -10px;
  content: '';
  height: 100%;
  left: 10px;
  position: absolute;
  width: 100%;
}

.guide:first-of-type .copy-wrapper {
  width: 100%;
}

.guide:last-of-type .img-wrapper {
  margin: auto;
}

.featured-images,
.featured-articles {
  background: #E0FDDF;
  padding: 20px 0;
}

.featured-images .container,
.site-features,
.featured-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-features {
  background: #f5f5f5;
}

.site-features h2 {
  text-transform: uppercase;
}

.site-features i {
  background: #F8FB05;
  border-radius: 50%;
  float: left;
  font-size: 3.5rem;
  margin: 10px 10px 0 0;
  padding: 10px;
}

.featured-images .img-wrapper {
  width: 47%;
}

.featured-images .img-wrapper:last-of-type {
  display: none;
}

.featured-articles .img-wrapper {
  position: relative;
  z-index: 1;
}

.featured-articles .img-wrapper img {
  position: relative;
  z-index: 1;
}

.featured-articles article:first-of-type .img-wrapper::before {
  background: #F8FB05;
  bottom: -10px;
  content: '';
  height: 100%;
  left: 10px;
  position: absolute;
  width: 100%;
}

.featured-articles article:last-of-type .img-wrapper::before {
  background: #F8FB05;
  bottom: -10px;
  content: '';
  height: 100%;
  left: -10px;
  position: absolute;
  width: 100%;
}

.blog header {
  background: url(../../assets/blog-image.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  min-height: 40vh;
}

.blog main {
  background: #E0FDDF;
  padding: 20px 0;
}

.blog main .blog-post {
  background: #f5f5f5;
  border-right: 10px solid #F8FB05;
  border-bottom: 10px solid #F8FB05;
  position: relative;
  left: -6%;
  width: 105%;
}

.blog main .blog-post .copy-wrapper {
  margin: 0;
  padding: 20px;
}

.blog main .blog-post .img-wrapper {
  margin: auto;
  position: relative;
  top: -45px;
  left: 0;
}

.blog main .blog-post .img-wrapper img {
  position: relative;
}

.blog main .blog-post .img-wrapper::before {
  background: #F8FB05;
  bottom: -10px;
  content: '';
  height: 100%;
  left: 10px;
  position: absolute;
  width: 100%;
}

.side-bar {
  display: none;
  background: #F8FB05;
  margin-top: 60px;
  position: relative;
  right: -6%;
}

.side-bar .copy-wrapper {
  margin: 0;
  padding: 0 20px 30px 20px;
}

.side-bar .copy-wrapper h3 {
  padding: 10px 0;
}

.side-bar .copy-wrapper ul li {
  list-style-type: disc;
  margin-left: 20px;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment .img-wrapper {
  padding: 40px 15px 0 0;
  width: 25%;
}

.comment .copy-wrapper {
  width: 75%;
}

.contact header {
  background: url(../../assets/contact-image.jpg) no-repeat;
  background-size: cover;
  min-height: 40vh;
}

.contact main {
  background: #E0FDDF;
  padding: 20px 0;
}

.contact main form {
  background: #f5f5f5;
  position: relative;
}

.contact main form .form-wrapper {
  background: #f5f5f5;
  padding: 20px;
  position: relative;
}

.contact main form::before {
  background: #F8FB05;
  bottom: -10px;
  content: '';
  height: 100%;
  left: 10px;
  position: absolute;
  width: 100%;
}

.social {
  padding-top: 30px;
}

.social li {
  display: inline-block;
}

.social li a i {
  background: #E0FDDF;
  color: #065635;
  font-size: 3rem;
  padding: 10px 15px 5px 0;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

.social li a i:hover {
  color: #086e44;
  cursor: pointer;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.social a {
  display: block;
}

.social a:first-of-type {
  padding-bottom: 15px;
}

@media all and (min-width: 768px) {
  html {
    font-size: 58%;
  }
  main {
    max-width: 1600px;
    margin: auto;
  }
  .container {
    max-width: 1000px;
  }
  .button-link,
  .button {
    margin: 30px 0;
  }
  .featured-images,
  .guide .container:first-of-type,
  .site-features .container {
    padding: 50px 0;
  }
  .landing {
    height: 50vh;
    min-height: 500px;
  }
  .landing h1 {
    width: 45%;
  }
  .guide .container:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .guide .container:first-of-type .img-wrapper {
    width: 30%;
    margin-right: 0;
  }
  .guide .container:first-of-type .copy-wrapper {
    width: 60%;
  }
  .guide:last-of-type .copy-wrapper {
    padding: 50px 0;
  }
  .guide:last-of-type .button-wrapper {
    text-align: center;
  }
  .featured-images .img-wrapper {
    width: 32%;
  }
  .featured-images .img-wrapper:last-of-type {
    display: block;
  }
  .featured-articles .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .featured-articles .container article {
    width: 45%;
  }
  .featured-articles .container article .img-wrapper {
    width: 130%;
  }
  .featured-articles .container article:first-of-type {
    text-align: right;
  }
  .featured-articles .container article:first-of-type .img-wrapper {
    top: -50px;
    left: -50%;
  }
  .featured-articles .container article:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .featured-articles .container article:last-of-type .img-wrapper {
    bottom: -50px;
    right: -20%;
  }
}

@media all and (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }
  .desktop-menu {
    display: block;
  }
  .landing {
    height: 90vh;
    min-height: 800px;
  }
  .landing .img-wrapper {
    display: block;
  }
  .guide:first-of-type {
    padding: 75px 0;
  }
}
